<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("partials/header") %>
    <title>Login</title>
  </head>
  <body>
    <%- include ("partials/nav") %>
    <% if (user.thumbnail) { %>
      <h1>Welcome to <%= user.name %> profile page.</h1>
      <img src="<%= user.thumbnail %>" alt="">
      <p><%= user.name %>'s GoogleID <%= user._id %></p>
      <p><%= user.date %></p>
    <% } %>

    <% if (!user.thumbnail) { %>
      <h1>Welcome to <%= user.name %> profile page.</h1>
      <p><%= user.name %>'s ID <%= user._id %></p>
      <p><%= user.date %></p>
    <% } %>

  </body>
</html>
